html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

.main-container{
  background: gold;
  max-width: 1000px;
  margin: auto;
  height: 100%;
  width: 100%;
  border: 20px rgb(104, 88, 4) solid;
  box-sizing: border-box;
}

.game-title{
  text-align: center;
  color: rgb(104, 88, 4);
  text-transform: uppercase;
  font-family: fantasy;
  font-size: 50px;
  text-shadow: 2px 2px 3px black;
  font-weight: 100;
  letter-spacing: 0.4em;
  word-spacing: 1em;
}
